* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --mainBorderColor: #a0171f;
    --borderBright: #f57480;
    --consoleSurface: #dac7a7;
    --consoleBrightSurface: #f1e3cc;
    --innerButton: #b6a6a9;
    --borderButton: #761424;
    --brightBorderButton: #b24a4a;
    --innerScreen: #c2d2c8;
  }

body{
    display:flex;
    justify-content: center;
}

#general-wrapper{
    width: 100%;
}

.visibilityHidden {
    visibility: hidden;
}

#secondMainPage {
    display: flex;
    flex-direction: column;
}

#hangManUp{
    flex-basis: 65%; display: flex;
    flex-direction: row;
    border: solid 1px black;
}

#hangManCanvas{
    flex-basis: 30%;
    justify-content: center;
    align-content: center;
    min-width: 20em;
    border: solid 1px black;
}

#hangManGuess{
    flex-basis:70%;
    justify-content: center;
    display:flex;
    flex-direction: column;
    border: solid 1px black;
}

#hangManGuessTitle {
    flex-basis: 20%;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    border: solid 1px black;
}

#hangManGuessLetters {
    flex-basis: 20%;
    justify-content: center;
    display: flex;
    align-content: flex-end;
    border: solid 1px black;
}

#hangManLetters{
flex-basis:35%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
align-content: center;
padding: 2em;
border: solid 1px black;
}

.letterButton{
color: white;
background-color: black;
border-radius:5px;
min-width: 5em;
margin: 0.5em;
min-height: 5em;
}

/* Styles for welcome Page */
.column{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#welcome h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Press Start 2P', cursive;
}

.hide-me {
    display: none !important;
}

/* Styles for finalScreen */
#finalScreen{
    display:flex;
    justify-content: space-around;
    width: 100%;
}

#finalPage{
    width: 70%;
}

#scores{
    width: 30%;
}

/*canvas draw*/
#hangManCanvas {
    padding: 2em;
}

/*STYLE MAIN PAGE */
#welcome{
    border: 0.5em solid var(--mainBorderColor);
    border-image-source: radial-gradient(to left, #743ad5, #d53a9d);
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: var(--consoleBrightSurface);
    font-family: 'Righteous', cursive;
    
}

body {
    /*border: 0.5em solid var(--mainBorderColor);*/
    margin: 2em 0;
}

.screen {
    margin: 1em;
    border: 0.5em solid var(--mainBorderColor);
    padding: 1em;
    background-color: var(--innerScreen);
    border-radius: 1em;
    font-family: 'Press Start 2P', cursive;
    max-width: 60%;
}

#startButton {
    border: 0.5em solid var(--mainBorderColor);
    border-radius: 1em;
    min-width: 5em;
    min-height: 2em;
}

.column > input {
    border-color: black;
    border-radius: 0.5em;
    background-color: var(--innerScreen);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    min-height: 2em;
}

.consoleButtons {
    font-weight: bold;

}


#secondMainPage {
    border: 0.5em solid var(--mainBorderColor);
    border-image-source: radial-gradient(to left, #743ad5, #d53a9d);
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: var(--consoleBrightSurface);
    font-family: 'Righteous', cursive;
    
}

.letterButton {
    border: 0.5em solid var(--mainBorderColor);
    border-radius: 1em;
    min-width: 5em;
    min-height: 2em;
}